@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url('@/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('@/assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light'), local('Montserrat-Light'),
  url('@/assets/fonts/Montserrat-Light.woff2') format('woff2'),
  url('@/assets/fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('@/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
  url('@/assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('@/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
  url('@/assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: $ff-primary;
};

.header_bloc {
  .header_title {
    @include typo_styles(
            $fw: 700,
            $fs: $fs-header,
            $clr: $clr-primary,
            $lh: $lh-header,
            $fstyle: normal
    );
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    width: $h1-width;
    height: fit-content;
    margin: auto 0;
  };

  .header_text {
    @include typo_styles(
            $fw: 700,
            $fs: 15px,
            $clr: $clr-primary,
            $lh: 14px,
            $fstyle: normal
    );
    text-align: center;
    width: $header-t-width;
    height: fit-content;
  }
};

.nav_bar {
  p {
    @include typo_styles(
            $fw: 700,
            $fs: 12px,
            $clr: $slr-nav-text,
            $lh: 15px,
            $fstyle: normal
    );
    width: fit-content;
    height: fit-content;
  };
};