.nav_bar {
  svg {
    width: 5vw;
    height: 5vh;
    @media screen and (min-width: 600px) {
      width: 3.5vw;
      height: 3.5vh;
    };
    };
}

.bottom_contact {
  .bottom_button {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 0 auto;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    &:hover {
      transform: translateY(-7px);
    }
  }
}
