
.header_bloc {
  background: {
    image: url("@/assets/images/header_background_blur.png");
    size: cover;
    position: center;
  };
  @media screen and (min-width: 600px) {
    background: {
      image: url("@/assets/images/header_background_blur2.png");
    };
  }
};

.nav_bar {
  background: {
    color: $clr-nav_bar;
  };
  svg {
    color: $slr-nav-text;
  }
}

.bottom_contact {
  background: linear-gradient(328.03deg, #FFFFFF -10%, #7EA2DD 100%);

  .bottom_button {
    background: #FFFFFF;
    border: none;
    padding: 10px;
    &:hover {
      background: none;
    }
  }
};